version: '3.6'

services:
  kmsconnect:
    image: ${kmsconnect_image_repository}@sha256:${kmsconnect_image_sha256}
    volumes:
      - "./ibm.cfg:/app/cfg/ibm.cfg"
      - "./cert:/data/cert:ro"
    restart: always

  vault-releases:
    image: ${vault_image_repository}@sha256:${vault_image_sha256}
    environment:
      PLATFORM: kms
      VAULT_BRIDGE_LOGLEVEL: 7
      VAULT_CORE_LOGLEVEL: 7
      VAULT_KMS_ENDPOINT: kmsconnect:10000
      VAULT_TRUSTED_SIG: pem:${notary_messaging_public_key}
      VAULT_ID: ${vault_id}
      HARMONIZE_CORE_ENDPOINT: ${harmonize_api_endpoint}/internal/v1
    restart: always
