version: '3.6'

services:
  kmsconnect:
    image: ${kmsconnect_image_repository}@sha256:${kmsconnect_image_sha256}
    volumes:
      - "./ibm.cfg:/app/cfg/ibm.cfg"
    restart: always

  approval-notary:
    depends_on:
      - kmsconnect
    image: ${notary_image_repository}@sha256:${notary_image_sha256}
    environment:
      HMZ_NOTARY_COLS_DIR: "/data/anti-rewind"
      HMZ_HC_TRACING_ENABLED: "true"
      HMZ_OPEN_TELEMETRY_TYPE: "disabled"
      HMZ_NOTARY_BRIDGE_HTTP_URI: ${harmonize_notary_bridge_endpoint}
      HMZ_NOTARY_BRIDGE_HTTP_ENABLED: "true"
      HMZ_LOG_LEVEL: "TRACE"
      HMZ_NOTARY_BRIDGE_GRPC_ENABLED: "false"
      HMZ_NOTARY_KMS_ENABLED: "true"
      HMZ_NOTARY_KMS_HOST: kmsconnect
      HMZ_NOTARY_KMS_GRPC_PORT: 10000
    restart: always
    volumes:
      # This is a must as it is needed for anti-rewind file
      # !!! Changing the target mount point will result in anti-rewind file getting lost on reboot !!!
      - "/mnt/data:/data/anti-rewind"
